
@page
@model Sellasist_Optima.Pages.Konfiguracja.ConfigurationModel

<h2>Konfiguracja</h2>
<h3>Proszę o uzupełnienie poniższych pól</h3>


<form method="post">
    <h4>Sellasist API</h4>
    <div>
        <label>Name Shop:</label>
        <input type="text" asp-for="SellAsistAPI.ShopName" required />
    </div>
    <div>
        <label>API Key:</label>
        <input type="password" asp-for="SellAsistAPI.KeyAPI" required />
    </div>
    <input type="submit" value="Connect API" asp-page-handler="ConnectAPI" />

</form>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-info mt-3">
        @Model.Message
    </div>
}

<h4>Zapisane API SellAsist:</h4>
<table>
    <tr>
        <th>Name Shop</th>
        <th>API Key</th>
    </tr>
    @foreach (var item in Model.AllSellAsistAPI)
    {
        <tr>
            <td>@item.ShopName</td>
            <td>@item.KeyAPI</td>
        </tr>
    }
</table>


<form method="post">
    <h4>WebAPI Optima</h4>
    <div>
        <label>Username:</label>
        <input type="text" asp-for="WebApiClient.Username" required />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" asp-for="WebApiClient.Password" required />
    </div>
    <div>
        <label>Grant Type:</label>
        <input type="text" asp-for="WebApiClient.Grant_type" required />
    </div>
    <div>
        <label>Localhost:</label>
        <input type="text" asp-for="WebApiClient.Localhost" required />
    </div>
    <div>
        <label>TokenAPI:</label>
        <input type="password" asp-for="WebApiClient.TokenAPI" required />
    </div>

    <input type="submit" value="Connect WebApi" asp-page-handler="ConnectWebAPI" />
</form>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-info mt-3">
        @Model.Message
    </div>
}

<h4>Saved WebAPI Optima:</h4>
<table>
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Grant Type</th>
        <th>Localhost</th>
        <th>TokenAPI</th>
    </tr>
    @foreach (var item in Model.AllWebApiClient)
    {
        <tr>
            <td>@item.Username</td>
            <td>@item.Password</td>
            <td>@item.Grant_type</td>
            <td>@item.Localhost</td>
            <td>@item.TokenAPI</td>
        </tr>
    }   
</table>